@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.options{
  --max-width: 1250px;
  width: min(100% - 2rem, var(--max-width));
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #2b3442;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #E26503;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
.dark .loader{
  border-top: 4px solid #FFF;
}
.dark .loader::after{
  border-left: 4px solid #DB3317;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.grid-tabs{
  display: grid;
  grid-template-columns: 1fr;
}
@media(min-width: 500px){
  .grid-tabs{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  }
}

.cloudy-bg{
  background-image: url('../images/cloudy-bg.jpeg');
}
.stormy-bg{
  background-image: url('../images/stormy-bg.jpg');
}
.night-bg{
  background-image: url('../images/night-bg.jpg');
}
.sunny-bg{
  background-image: url('../images/sunny-bg.jpg');
}
.rainy-bg{
  background-image: url('../images/rainy-bg.jpg');
}
.snowy-bg{
  background-image: url('../images/snowy-bg.jpg');
}